/* START NAV */
 nav {
display: flex;
justify-content: space-between;
font-family: 'Muli', sans-serif;
}

nav div {
  display: flex;
  width: 40%;
}
  
.brand {
display: flex;
color: #69ACD9;
margin-left: 6%;
margin-right: 4%;
}

.links {
 display: flex;
 color: #69ACD9;
 font-size: 14px;
 }

.links p {
 display: flex;
 padding-left:10px;
 padding-right:10px;
 padding-top:9px;
 padding-bottom:10px;
}

.notify {
display: flex;}


.notify img {
width: 30px;
height: 30px;
padding-left:10px;
padding-right:10px;
padding-top:12px;
padding-bottom:10px;
}


/* END NAV */
/* START HEADER */
/* Peter Chang Header */
.header {
  display: flex;
  background-color: #3B5274;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Muli;
  
  
}

.headergrid {
  display: grid;
  width: 1600px;
  grid-template: repeat(16, 40px) / repeat(16, 100px);
}

.headersubtitle {
  grid-column: 10/13;
  grid-row: 4/5;
  align-self: flex-end;
  color: white;
}

.headertitle {
  grid-column: 5/11;
  grid-row: 5/10;
  line-height: .2;
  align-self: center;
  color: white;
}

.headevent {
  color: #89C6DB;
}

.headertitle h1{
  font-size: 50pt;
}

.headerbutton {
  grid-column: 10/13;
  grid-row: 11/13;
  align-self: flex-start;
  text-align: center;
  border: 1px solid #89C6DB;
  font-size: 12pt;
  color: #89C6DB;
}
/* END HEADER */
/* START ABOUT */
#about-sec {
    display: grid;
    grid-template-columns: 40% 1fr 40%; 
    grid-template-rows: 0.5fr 2fr;
    grid-gap: 1vw;
    padding: 2vw 10vw;
    font-family: 'Muli', sans-serif;
  }
  #about-header {
    grid-column-start: 1;
    grid-column-end:   4;
    font-size: 2.5em;
  }
  #about-header h1 {
    margin: 0;
  }
  .about-content {
    background-color: #89C6DB;
    width: 100%;
    height: 21em;
    display: grid;
    align-items: center;
  }
  
  #about-left {
    grid-template-rows: repeat(2, 1fr);
  }
  
  .about-content p, .about-content h2, .about-content h3 {
    margin: 10px 20px;
  }
  
  .about-content h2, .about-content h3 {
    color: #DEF0F4;
  }
  
  .about-content p, #about-header h1 {
    color: #3B5274;
  }
  
  #about-header,  #about-mid {
    text-align: center;
  }
  
  .about-content p {
    font-family: 'PT Serif', serif;
  }

  #about-img img {
   object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
/* END ABOUT */
/* START GALLERY */

/* Allison Varady */

.heading{
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #758A8D;
}

.paragraph{
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #758A8;
}




.gallery {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr)  50px;
   height: 80vh;
}

#shark {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	
}

#frankenstien {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;

}

#mfa {
  grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 5;	
}

#web {
  grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
	
}

img { 
  width: 100%;
}

/* END GALLERY */
/* START FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  font-family: 'Muli', sans-serif;
  background: #3b5274;
  height: 250px;
}

.footer-explore,
.footer-follow {
  display: flex;
  flex-direction: column;
}

.footer-explore,
.footer-follow {
  padding-top: 20px;
  display: grid;
  justify-items: center;
}

.footer-link {
  text-decoration: none;
  color: #89C6DB
}

.footer-link:hover {
  opacity: 0.5;
}

.footer-h1,
.footer-h2,
.footer-text {
  color: white;
}

.footer-h1 {
  font-size: 28px;
}

.footer-h2 {
  font-size: 18px;
}

.footer-club {
  background: url("https://scontent.fsea1-1.fna.fbcdn.net/v/t1.0-9/35151744_1725934190785463_1577803755703762944_o.png?_nc_cat=101&_nc_ht=scontent.fsea1-1.fna&oh=cc2e134e3d753be594534ab724dc0dec&oe=5C7171F0");
  background-size: cover;
  background-repeat: no-repeat;
}
/* END FOOTER */
  
